{% extends "layout.html" %}
    {% block content %}

    <div class="row justify-content-center">
        <div class="col-auto">
            <table class="table table-hover">
                {% if is_admin %}
                <tr>
                    <td colspan="2"><a href={{ url_for('show_control_panel') }} class="btn btn-secondary btn-lg btn-block active" role="button" aria-pressed="true">Control Panel</a></td>
                </tr>
                <tr>
                    <td colspan="2"><a href={{ url_for('video_feed') }} class="btn btn-primary btn-lg btn-block active" role="button" aria-pressed="true" target='_blank'>Show Live Surveillance</a></td>
                </tr>
                <tr>
                    <td><a href={{ url_for('show_enroll_operator_page') }} class="btn btn-primary btn-lg btn-block active" role="button" aria-pressed="true">Enroll <b>Operator</b></td>
                    <td><a href={{ url_for('search_modify_operator_page') }} class="btn btn-dark btn-lg btn-block active" role="button" aria-pressed="true">Search &amp; Modify <b>Operator</b></td>
                </tr>
                {% endif %}
                <tr>
                    <td><a href={{ url_for('show_enroll_user_page') }} class="btn btn-primary btn-lg btn-block active" role="button" aria-pressed="true">Enroll <b>Face</b></td>
                    <td><a href={{ url_for('show_search_modify_user_page') }} class="btn btn-dark btn-lg btn-block active" role="button" aria-pressed="true">Search &amp; Modify <b>Face</b></td>
                </tr>

                {% if is_admin %}
                <tr>
                    <td><a href={{ url_for('update_employee') }} class="btn btn-primary btn-lg btn-block active" role="button" aria-pressed="true">Update Employee</a></td>
                    <td><a href={{ url_for('update_dpmt') }} class="btn btn-primary btn-lg btn-block active" role="button" aria-pressed="true">Update Department</a></td> 
                </tr>
                <tr>
                    <td><a href={{ url_for('show_roster_page') }} class="btn btn-primary btn-lg btn-block active" role="button" aria-pressed="true">Add Shift</a></td>
                    <td><a href={{ url_for('details_department') }} class="btn btn-primary btn-lg btn-block active" role="button" aria-pressed="true">Add Department</a></td>
                </tr>
                {% endif %}

                {% if is_admin %}
                <tr>
                    <td colspan="2"><a href={{ url_for('show_logs_page') }} class="btn btn-primary btn-lg btn-block active" role="button" aria-pressed="true">Download Logs</td></td>
                </tr>
                <tr>
                    <td colspan="2"><a href={{ url_for('show_alert_page') }} class="btn btn-danger btn-lg btn-block active" role="button" aria-pressed="true">Show Alerts</a></td>
                </tr>
                <tr>
                    <td colspan="2"><a href={{ url_for('shutdown') }} role="button" aria-pressed="true" style="float: right;">
                        <img src={{ url_for('get_file', filename='shutdown') }} style='width: 50px; height: auto;'>
                    </a></td>
                </tr>
                {% endif %}
        

            </table>
        </div>
    </div>

    {% endblock %}