
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src={{ url_for('get_file', filename='jq') }}></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var x = "{{msg}}"
            var name= {{ name | safe}}
            console.log(name[0])
            console.log(x=='', name)
            // $('.alert').hide()
            // if (x!=''){
            //     $('.alert').show()
            // }
            $('#rname').on("change", function(){
                var txt = $(this).val().toLowerCase()
                console.log(txt)
                for (var i = 0; i < name.length; i++) {
                    if (name[i]==txt){
                        console.log('x')
                        $(this).addClass("error")
                        break
                    }
                    else{
                        $(this).removeClass("error")
                        $(this).addClass("okay")
                    }
                }
                // console.log('rest', txt)
            });
            $("input:checkbox").on('click', function() {
                  // in the handler, 'this' refers to the box clicked on
                  var $box = $(this);
                  if ($box.is(":checked")) {
                    // the name of the box is retrieved using the .attr() method
                    // as it is assumed and expected to be immutable
                    var group = "input:checkbox[name='" + $box.attr("name") + "']";
                    // the checked state of the group/box on the other hand will change
                    // and the current value is retrieved using .prop() method
                    $(group).prop("checked", false);
                    $box.prop("checked", true);
                  } 
                  else 
                  {
                    $box.prop("checked", false);
                  }
                });
            });

    </script>
    <style>
        .okay{
            border-color:#0F0;
            border-radius: 4px;
            border-width: 4px;
        }
        .error{
            border-color:#F00;
        }
        .weekDays-selector input {
          display: none!important;
        }

        .weekDays-selector input[type=checkbox] + label {
          display: inline-block;
          border-radius: 6px;
          background: #dddddd;
          height: 40px;
          width: 30px;
          margin-right: 3px;
          line-height: 40px;
          text-align: center;
          cursor: pointer;
        }

        .weekDays-selector input[type=checkbox]:checked + label {
          background: #2AD705;
          color: #ffffff;
        }
    </style> 
</head>
{% extends "layout.html" %}
    {% block content %}
    <div class="container">
        <form action={{ url_for('add_roster_details') }} method="post" name="loginform">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <table class="table table-hover">
                        <th colspan="2"> Shift Details </th>
                        <tr class="table-info"> 
                            <td> Enter Shift Name: </td>
                            <td><input type='text' maxlength="50" name = 'rname' id="rname"> 
                            </td>
                        </tr>
                        <tr class="table-info">      
                            <td> Enter Timing (In 24 hrs format) </td>
                            <td> <input type='number' name='start_time' value= 9 required style="width:50px;" max="24" maxlength="2"> 
                                 to <input type='number' name='end_time' value= 18 required style="width:50px;" max="24" maxlength="2">
                            </td>
                        </tr>
                        <!-- <tr class="table-info">      
                            <td> Weekly Off (Select the weekly off day) </td>
                            <td class="weekDays-selector" name='weekday_checkbox'>
                                  <input type="checkbox" id="weekday-mon" class="radio" name='weekday[1][]' value='monday'/>
                                    <label for="weekday-mon">Mon</label>
                                  <input type="checkbox" id="weekday-tue" class="radio" name='weekday[1][]' value='tuesday'/>
                                    <label for="weekday-tue">Tue</label>
                                  <input type="checkbox" id="weekday-wed" class="radio" name='weekday[1][]' value='wednesday'/>
                                    <label for="weekday-wed">Wed</label>
                                  <input type="checkbox" id="weekday-thu" class="radio" name='weekday[1][]' value='thrusday'/>
                                    <label for="weekday-thu">Thu</label>
                                  <input type="checkbox" id="weekday-fri" class="radio" name='weekday[1][]' value='friday'/>
                                    <label for="weekday-fri">Fri</label>
                                  <input type="checkbox" id="weekday-sat" class="radio" name='weekday[1][]' value='saturday'/>
                                    <label for="weekday-sat">Sat</label>
                                  <input type="checkbox" id="weekday-sun" class="radio" name='weekday[1][]' value='sunday'/>
                                    <label for="weekday-sun">Sun</label>
                            </td>
                        </tr> -->
                        <tr class="table-info">      
                            <td> Weekly Off (Select the weekly off day) </td>
                            <td>
                                <select id='weekdaydropdown' name='weekdaydropdown'>
                                    {% for weekday in weekdays_list %}
                                        {% if weekday == weekdays_list[0]%}
                                            <option value={{ weekday }} selected>{{ weekday }}</option>
                                        {% else %}
                                            <option value={{ weekday }}>{{ weekday }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr colspan="2">
                        <td>
                            <button id='confirm' name='confirm' type='submit' class="btn btn-primary btn-lg btn-block active">Confirm</button>
                        </td>
                    </tr>
                </table>
                <input type='text' name = 'wklyoff' id="wklyoff" hidden=""> 
                </div>
            </div>
        </form>
    </div>
    {% endblock %}
