absl-py==0.8.1
arrow==0.15.4
astor==0.8.0
astroid==2.3.2
autopep8==1.4.4
certifi==2019.9.11
chardet==3.0.4
Click==7.0
colorama==0.4.1
cycler==0.10.0
dateparser==0.7.2
DateTimeRange==0.6.1
decorator==4.4.1
defusedxml==0.6.0
Flask==1.1.1
gast==0.2.2
google-pasta==0.1.7
grpcio==1.24.3
h5py==2.10.0
humanize==0.5.1
idna==2.8
imageio==2.6.1
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
joblib==0.14.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
maya==0.6.1
mbstrdecoder==0.8.1
mccabe==0.6.1
networkx==2.3
numpy==1.17.3
opencv-python==4.1.1.26
opt-einsum==3.1.0
pendulum==2.0.5
Pillow==6.2.1
protobuf==3.6.1
pycodestyle==2.5.0
pylint==2.4.3
pyparsing==2.4.2
python-dateutil==2.8.0
pytz==2019.3
pytzdata==2019.3
PyYAML==5.1.2
regex==2019.12.9
requests==2.22.0
scikit-learn==0.21.3
scipy==1.1.0
six==1.12.0
sklearn==0.0
snaptime==0.2.4
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
tqdm==4.37.0
typed-ast==1.4.0
typepy==0.6.0
tzlocal==2.0.0
urllib3==1.25.6
Werkzeug==0.16.0
wrapt==1.11.2
configparser==5.0.1
pycryptodomex==3.9.9
multidict==5.1.0
flask-login==0.5.0

pandas==1.1.5
netifaces==0.11.0
XlsxWriter==1.4.3

pydub==0.25.1
cx-Freeze==6.2

simpleaudio==1.0.3

gunicorn
crcmod
pymemcache

holidays