<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src={{ url_for('get_file', filename='jq') }}></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var x = "{{msg}}"
            var name= {{ name | safe}}
            console.log(name[0])
            console.log(x=='', name)
            // $('.alert').hide()
            // if (x!=''){
            //     $('.alert').show()
            // }
            $( "#holidays" )[0].scrollIntoView();
            
            $('#hname').on("change", function(){
                var txt = $(this).val().toLowerCase()
                console.log(txt)
                for (var i = 0; i < name.length; i++) {
                    if (name[i]==txt){
                        console.log('x')
                        $(this).addClass("error")
                        break
                    }
                    else{
                        $(this).removeClass("error")
                        $(this).addClass("okay")
                    }
                }
              });

            $('#htype').on("change", function(){
                var txt = $(this).val().toLowerCase()
                console.log(txt)
                for (var i = 0; i < name.length; i++) {
                    if (name[i]==txt){
                        console.log('x')
                        $(this).addClass("error")
                        break
                    }
                    else{
                        $(this).removeClass("error")
                        $(this).addClass("okay")
                    }
                }
              });

          });


    </script>
    <style>
        .okay{
            border-color:#0F0;
            border-radius: 4px;
            border-width: 4px;
        }
        .error{
            border-color:#F00;
        }
        .weekDays-selector input {
          display: none!important;
        }

        .weekDays-selector input[type=checkbox] + label {
          display: inline-block;
          border-radius: 6px;
          background: #dddddd;
          height: 40px;
          width: 30px;
          margin-right: 3px;
          line-height: 40px;
          text-align: center;
          cursor: pointer;
        }

        .weekDays-selector input[type=checkbox]:checked + label {
          background: #2AD705;
          color: #ffffff;
        }
    </style> 
</head>
{% extends "layout.html" %}
    {% block content %}
    <div style="margin-left: 60px;">
        <form action={{ url_for('add_hol_details') }} method="post" name="loginform">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <table class="table table-hover">
                        <th colspan="2"> Add Holiday </th>
                        <tr class="table-info"> 
                        <tr id='new_cat' class="table-info">
                          <td> Enter Holiday Name: </td>
                          <td><input type='text' name='hname' style="width:200px;" value=""></td>
                        </tr>
                        <tr class="table-info">
                          <td> Enter Holiday Date: </td>
                          <td> <input type='date' name='hdate' id="hdate" style="width:200px;"></td>
                        </tr>
                        <tr class="table-info">
                          <td> Select Holiday Type: </td>
                          <td> <select name="htype" id="htype">
                                    <option value=""> Select Holiday Type</option>
                                    {% for row in htypes %}
                                    <option value="{{row}}">{{row}}</option>
                                    {% endfor %}
                                </select> 
                            </td>
                        </tr>
                        <tr class="table-info" ><td> Select Department</td>
                            <td> <select name="dpmts" id="dpmts" >
                                    <option value=""> Select Department</option>
                                    {% for row in departments %}
                                    <option value="{{row[0]}}">{{row[1]}}</option>
                                    {% endfor %}
                                </select> 
                            </td>
                        </tr>                       
                        <tr>
                          <td colspan="2">
                            <button id='confirm' name='confirm' type='submit' class="btn btn-primary btn btn-block active">Confirm</button>
                          </td>
                        </tr>        
                    </tr>
                </table>
                <table class="table table-hover" id='holidays'>
                  <thead>
                    <th> List of Added Holidays</th>
                  </thead> 
                  <!-- <tbody>
                    {% for row in holidays %}
                        <tr class="table-info">
                          <td width="10px">{{row}}</td>
                        </tr>
                    {% endfor %}
                  </tbody>  -->
                </table>
                </div>
            </div>
        </form>
    </div>

    <p align="center"><iframe src={{ url_for('monthly_table_display') }} width="80%" height="400px"></iframe></p>
    <!-- <iframe src={{ url_for('monthly_table_display') }} width="80%" height="400px"></iframe> -->
    <!-- <div><tr class="table-info" style="display:none"><td></td></tr>
    <tr class="table-info" style="display:none"><td></td></tr>
    <tr class="table-info" style="display:none"><td></td></tr>
    <tr class="table-info" style="display:none"><td></td></tr>
    <tr class="table-info" style="display:none"><td></td></tr>
    <tr class="table-info" style="display:none"><td></td></tr></div> -->

    <!-- <script>
        var checkEnable = function(){
            // var is_checked = $('input[type=checkbox]:checked').length;
            htype = document.getElementById('htype');
            dpmts = document.getElementById('dpmts');

            if(htype.value == "Department"){
                dpmts.disabled = false;
            }
            else{
                dpmts.disabled = true;
            }
        }

    </script> -->
    {% endblock %}
