{% extends "layout.html" %}
    {% block content %}

    <div class='container'>
        <div class='row justify-content-center'>
            <form action={{ url_for('change_password') }} method='post' name='enroll_operator' onclick=''>
                <div class='col-auto'>
                    <table class='table table-hover'>
                        <tr>
                            <td colspan='2' class='text-center' style="font-size: x-large;">Change Password</td>
                        </tr>
                        <tr>
                            <td><label for='oid'>Operator Id</label></td>
                            <td>{{ operator_id }}</td>
                        </tr>
                        <tr>
                            <td><label for='oldpasswd'>Old Password</label></td>
                            <td><input type='password' id='oldpasswd' name='oldpasswd' required></input></td>
                        </tr>
                        <tr id='newpasswd_row'>
                            <td><label for='newpasswd'>New Password</label></td>
                            <td><input type='password' id='newpasswd' name='newpasswd' required></td>
                        </tr>
                        <tr id='cnfpasswd_row'>
                            <td><label for='cnfpasswd'>Confirm Password</label></td>
                            <td><input type='password' id='cnfpasswd' name='cnfpasswd' onkeyup="validate_password()" required></td>
                        </tr>
                        <tr>
                            <td><button type='reset' class="btn btn-secondary btn-lg btn-block active">Reset</button></td>
                            <td><button type='submit' id='optregister' class="btn btn-primary btn-lg btn-block active" disabled>Change Password</button></td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
    </div>

    <script>
        var validate_password = function(){
            new_password = document.getElementById('newpasswd');
            conf_password = document.getElementById('cnfpasswd');
            new_password_row = document.getElementById('newpasswd_row');
            conf_password_row = document.getElementById('cnfpasswd_row');
            submit = document.getElementById('optregister');
            if(new_password.value == conf_password.value){
                new_password_row.className = 'table-success';
                conf_password_row.className = 'table-success';
                submit.disabled = false;
            }
            else{
                new_password_row.className = 'table-danger';
                conf_password_row.className = 'table-danger';
                submit.disabled = true;
            }
        }
    </script>


    {% endblock %}