{% extends "layout.html" %}
    {% block content %}
    {% if is_admin %}

    <form action={{ url_for('show_control_panel') }} method='post' name='update_control_panel'>
        <div class="row justify-content-center">
            <div class="col-auto">
                <table class="table table-hover">
                    <tr>
                        {% if shutdown_system %}
                        <td><img src={{ url_for('get_file', filename='closed') }} style='width: 25px; height: auto;'></td>
                        <td>Start all</td>
                        {% else %}
                        <td><img src={{ url_for('get_file', filename='active') }} style='width: 25px; height: auto;'></td>
                        <td>Shutdown System</td>
                        {% endif %}
                        <td>
                            <input type='radio' name='shutdown_system' value='n' checked>No &nbsp;
                            <input type='radio' name='shutdown_system' value='y'>Yes
                        </td>
                    </tr>
                    <tr>
                        {% if any_display %}
                        <td><img src={{ url_for('get_file', filename='active') }} style='width: 25px; height: auto;'></td>
                        <td>Turn off all display</td>
                        {% else %}
                        <td><img src={{ url_for('get_file', filename='closed') }} style='width: 25px; height: auto;'></td>
                        <td>Turn on all display</td>
                        {% endif %}
                        <td>
                            <input type='radio' name='all_display' value='n' checked>No &nbsp;
                            <input type='radio' name='all_display' value='y'>Yes
                        </td>
                    </tr>
                    <tr>
                        {% if any_recognize %}
                        <td><img src={{ url_for('get_file', filename='active') }} style='width: 25px; height: auto;'></td>
                        <td>Turn off all recognition</td>
                        {% else %}
                        <td><img src={{ url_for('get_file', filename='closed') }} style='width: 25px; height: auto;'></td>
                        <td>Turn on all recognition</td>
                        {% endif %}
                        <td>
                            <input type='radio' name='all_recognize' value='n' checked>No &nbsp;
                            <input type='radio' name='all_recognize' value='y'>Yes
                        </td>
                    </tr>
                    <tr>
                        {% if monitor_state %}
                        <td><img src={{ url_for('get_file', filename='active') }} style='width: 25px; height: auto;'></td>
                        <td>Turn off monitor</td>
                        {% else %}
                        <td><img src={{ url_for('get_file', filename='closed') }} style='width: 25px; height: auto;'></td>
                        <td>Turn on monitor</td>
                        {% endif %}
                        <td>
                            <input type='radio' name='monitor' value='n' checked>No &nbsp;
                            <input type='radio' name='monitor' value='y'>Yes
                        </td>
                    </tr>
                    <tr>
                        {% if announcement_state %}
                        <td><img src={{ url_for('get_file', filename='active') }} style='width: 25px; height: auto;'></td>
                        <td>Turn off announcement</td>
                        {% else %}
                        <td><img src={{ url_for('get_file', filename='closed') }} style='width: 25px; height: auto;'></td>
                        <td>Turn on announcement</td>
                        {% endif %}
                        <td>
                            <input type='radio' name='announcement' value='n' checked>No &nbsp;
                            <input type='radio' name='announcement' value='y'>Yes
                        </td>
                    </tr>
                    {% for camera_state in camera_states %}
                        <tr>
                            <td colspan='3' class='text-center'>{{ camera_state[0] }}</td>
                        </tr>
                        <tr>
                            {% if camera_state[1] %}
                            <td><img src={{ url_for('get_file', filename='active') }} style='width: 25px; height: auto;'></td>
                            <td>Turn off display</td>
                            {% else %}
                            <td><img src={{ url_for('get_file', filename='closed') }} style='width: 25px; height: auto;'></td>
                            <td>Turn on display</td>
                            {% endif %}
                            <td>
                                <input type='radio' name='{{ camera_state[0] }}_display' value='n' checked>No &nbsp;
                                <input type='radio' name='{{ camera_state[0] }}_display' value='y'>Yes
                            </td>
                        </tr>
                        <tr>
                            {% if camera_state[2] %}
                            <td><img src={{ url_for('get_file', filename='active') }} style='width: 25px; height: auto;'></td>
                            <td>Turn off recognition</td>
                            {% else %}
                            <td><img src={{ url_for('get_file', filename='closed') }} style='width: 25px; height: auto;'></td>
                            <td>Turn on recognition</td>
                            {% endif %}
                            <td>
                                <input type='radio' name='{{ camera_state[0] }}_recognition' value='n' checked>No &nbsp;
                                <input type='radio' name='{{ camera_state[0] }}_recognition' value='y'>Yes
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan='3'>
                            <button type='submit' class="btn btn-primary" name='update'>Update Status</button>
                            <a href={{ url_for('go_home') }} class="btn btn-secondary" role="button" aria-pressed="true">Home</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>

    {% else %}
    <h1> Unauthorized </h1>
    {% endif %}
    {% endblock %}