
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src={{ url_for('get_file', filename='jq') }}></script>
    <script type="text/javascript">
    </script>
    <style>

    </style> 
</head>
{% extends "layout.html" %}
    {% block content %}
    <div class="container">
        <form action={{ url_for('print_reports') }} method="post" name="reportform">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <table class="table table-hover">
                        <!-- <th colspan="2"> Print Reports </th> -->
                        <tr class="table-info"> 
                            <button id='cam_log' name='cam_log' type='submit' class="btn btn-primary btn btn-block active">Show Camera Logs</button>
                        </tr>
                        <tr class="table-info">      
                            <button id='wrk_hrs_log' name='wrk_hrs_log' type='submit' class="btn btn-primary btn btn-block active">Show Work Hours Logs</button>
                        </tr>
                        <tr class="table-info"> 
                            <button id='dly_rprt' name='dly_rprt' type='submit' class="btn btn-primary btn btn-block active">Show Daily Reports</button>
                        </tr>
                        <tr class="table-info">      
                            <button id='mnthly_rprt' name='mnthly_rprt' type='submit' class="btn btn-primary btn btn-block active">Show Monthly Reports</button>
                        </tr>
                    </tr>
                </table> 
                </div>
            </div>
        </form>
    </div>
    {% endblock %}
