
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{ url_for('get_file', filename='mcss') }} id="mcss">
    <script src={{ url_for('get_file', filename='jq') }}></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("input:checkbox").on('click', function() {
                  // in the handler, 'this' refers to the box clicked on
                  var $box = $(this);
                  if ($box.is(":checked")) {
                    // the name of the box is retrieved using the .attr() method
                    // as it is assumed and expected to be immutable
                    var group = "input:checkbox[name='" + $box.attr("name") + "']";
                    // the checked state of the group/box on the other hand will change
                    // and the current value is retrieved using .prop() method
                    $(group).prop("checked", false);
                    $box.prop("checked", true);
                  } 
                  else 
                  {
                    $box.prop("checked", false);
                  }
                });
            var arr = [];
            $('.weekDays-selector').on("change", function(){
                $("#t2").show()
                $("#cam_log").show()

            });
            
            $('#emp_id').click(function() {
                $("#empid").toggle(this.checked);
                $("#cam_log").toggle(this.checked);
                $("#empnamev").val('');
                $("#empname").hide();
                $('#emp_name').prop('checked', false);
            });
            $('#emp_name').click(function() {
                $("#empname").toggle(this.checked);
                $("#cam_log").toggle(this.checked);
                $("#empidv").val('');
                $("#empid").hide();
                $('#emp_id').prop('checked', false);
            });

            $('select[multiple]').multiselect();

            $('#shifts').multiselect({
                columns: 1,
                placeholder: 'Select Shift',
            });

            $('#dpmts').multiselect({
                columns: 1,
                placeholder: 'Select Department',
            });

            $('ul').css('list-style', 'none');

    });

    </script>
    <style>
        ul {
            list-style: none;
            margin: 0px 0px 5px;
        }
        .okay{
            border-color:#0F0;
            border-radius: 4px;
            border-width: 4px;
        }
        .error{
            border-color:#F00;
        }
        .weekDays-selector input {
          display: none!important;
        }

        .weekDays-selector input[type=checkbox] + label {
          display: inline-block;
          border-radius: 6px;
          background: #dddddd;
          height: 30px;
          width: 150px;
          margin-right: 3px;
          line-height: 30px;
          text-align: center;
          cursor: pointer;
        }

        .weekDays-selector input[type=checkbox]:checked + label {
          background: #2AD705;
          color: #ffffff;
        }
    </style> 
</head>
{% extends "layout.html" %}
    {% block content %}
    <div class="container">
        <form action={{ url_for('update_details_employee') }} method="post" name="reportform">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <h2> Update Employee Details</h2>
                    <table class="table table-hover table-sm">
                        <th colspan="2"> Search By </th>
                        <tr class="table-info"> 
                            <td class = "weekDays-selector">
                            <input type="checkbox" id="emp_id" class="weekday" >
                                <label for="emp_id">Employee ID</label>
                            <input type="checkbox" id="emp_name" class="weekday" >
                                <label for="emp_name">Employee Name</label>
                            </td></tr>
                        <tr class="table-info"> 
                            <td>
                            <input type="checkbox" id="exact" class="weekday" name='option' value='exact'>
                                <label for="exact">Exact Match</label>
                            <input type="checkbox" id="similar" class="weekday" name='option' value='similar'>
                                <label for="similar">Similar Match</label>
                            </td>
                        </tr>
                    </tr>
                </table>
                <table class="table table-hover" id="t2" style="display:none">
                        <th colspan="2"> Enter Parameters </th>
                        <tr class="table-info" id="empid" style="display:none"><td> Enter Employee ID(separated by a ";")</td>
                            <td> <input type='text' id="empidv" name='empid' style="width:200px; height: 50px" value=""> 
                            </td>
                        </tr>
                        <tr class="table-info" id="empname" style="display:none"><td> Enter Employee Name(separated by a ";")</td>
                            <td> <input type='text' id="empnamev" name='empname' style="width:200px; height: 50px" value=""> 
                            </td>
                        </tr>
                </table>
                <button id='cam_log' name='cam_logs' type='submit' class="btn btn-primary btn btn-block active" style="display:none">Search Employee</button> 
                </div>
            </div>
        </form>
    </div>
    {% endblock %}
