{% extends "layout.html" %}
    {% block content %}

    {% if is_admin %}

    <div class='container'>
        <div class='row justify-content-center'>
            <form action={{ url_for('enroll_operator') }} method='post' name='enroll_operator' onclick=''>
                <div class='col-auto'>
                    <table class='table table-hover'>
                        <tr>
                            <td colspan='2' class='text-center' style="font-size: x-large;">Enroll Operator</td>
                        </tr>
                        <tr>
                            <td><label for='oid'>Operator Id</label></td>
                            <td><input type='text' name='oid' required></td>
                        </tr>
                        <tr id='opass_row'>
                            <td><label for='opass'>Password</label></td>
                            <td><input type='password' id='opass' name='opass' required></td>
                        </tr>
                        <tr id='ocpass_row'>
                            <td><label for='ocpass'>Confirm Password</label></td>
                            <td>
                                <input type='password' id='ocpass' name='ocpass' onkeyup="validate_password()" required>
                            </td>
                        </tr>
                        <tr>
                            <td><label for='ofname'>First name</label></td>
                            <td><input type='text' name='ofname' required></td>
                        </tr>
                        <tr>
                            <td><label for='omname'>Middle Name</label></td>
                            <td><input type='text' name='osname'></td>
                        </tr>
                        <tr>
                            <td><label for='olname'>Last Name</label></td>
                            <td><input type='text' name='olname'></td>
                        </tr>
                        <tr>
                            <td><label for='orole'>Role</label></td>
                            <td>
                                <select name='orole'>
                                    <option value='admin'>Admin</option>
                                    <option value='reception' selected>Receptionist</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><button type='reset' class="btn btn-secondary btn-lg btn-block active">Reset</button></td>
                            <td><button type='submit' id='optregister' class="btn btn-primary btn-lg btn-block active" disabled>Register</button></td>
                        </tr>
                    </table>
                </div>
            </form>
        </form>
    </div>

    <script>
        var validate_password = function(){
            password = document.getElementById('opass');
            conf_password = document.getElementById('ocpass');
            password_row = document.getElementById('opass_row');
            conf_password_row = document.getElementById('ocpass_row');
            submit = document.getElementById('optregister');
            if(password.value == conf_password.value){
                password_row.className = 'table-success';
                conf_password_row.className = 'table-success';
                submit.disabled = false;
            }
            else{
                password_row.className = 'table-danger';
                conf_password_row.className = 'table-danger';
                submit.disabled = true;
            }
        }
    </script>

    {% endif %}

    {% endblock %}
