{% extends "layout.html" %}
    {% block content %}


    <div class='container'>
        <form action={{ url_for('enroll_user') }} method='post' name='enroll' onclick='' enctype="multipart/form-data">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <table class="table table-hover">
                        <tr>
                            <td colspan="2" class="text-center" style="font-size: x-large;">Enroll Face</td> 
                        </tr>
                        <tr>
                            <td><label for='rid' >Registration Id</label></td>
                            <td><input type='text' name='rid' required /></td>
                        </tr>
                        <tr>
                            <td><label for='ufname'>First Name</label></td>
                            <td><input type='text' name='ufname' required/></td>
                        </tr>
                        <tr>
                            <td><label for='umfname'>Middle Name</label></td>
                            <td><input type='text' name='umname' /></td>
                        </tr>
                        <tr>
                            <td><label for='ulfname'>Last Name</label></td>
                            <td><input type='text' name='ulname' required/></td>
                        </tr>
                        <tr>
                            <td><label for='userimage'>Image</label></td>
                            <td><input id='userimage' type='file' name='userimage'  multiple='false' autocomplete='off' accept='.jpg, .jpeg, .png'></td>
                        </tr>
                        <tr>
                            <td><label for='usercategory'>User Category</label></td>
                            <td>
                                <select id='usercategory' name='usercategory'>
                                    {% for c in categories %}
                                        <option value={{ c }}>{{ c }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label for='usershift'>User Shift</label></td>
                            <td>
                                <select id='usershift' name='usershift'>
                                    {% for r in rosters %}
                                        <option value={{ r[0] }}>{{ r[1] }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label for='userdepartment'>User Department</label></td>
                            <td>
                                <select id='userdepartment' name='userdepartment'>
                                    {% for d in departments %}
                                        <option value={{ d[0] }}>{{ d[1] }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <!-- <tr>
                            <td><label for='isthreat'>Is Threat</label></td>
                            <td>
                                <input type='radio' id='threat-yes' name='threat' value='y'>
                                <label for='y'>Yes</label><br />
                                <input type='radio' id='threat-no' name='threat' value='n' checked>
                                <label for='n'>No</label>
                            </td>
                        </tr> -->
                        <tr>
                            <td><button type='reset' class="btn btn-secondary btn-lg btn-block active">Reset</button></td>
                            <td><button type='submit' class="btn btn-primary btn-lg btn-block active" id='register'>Register</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </form>
    </div>


    {% endblock %}
