<!DOCTYPE html>
<html lang='en'>
    <head>
        <link rel="stylesheet" href={{ url_for('get_file', filename='bs-css') }} id="bs">
        <script src={{ url_for('get_file', filename='jq') }}></script>
        <script src={{ url_for('get_file', filename='popper') }}></script>
        <script src={{ url_for('get_file', filename='bs-js') }}></script>
        <script src={{ url_for('get_file', filename='mjq') }}></script>
        <link rel="shortcut icon" href={{ url_for('get_file', filename='favicon') }} type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>NableIT Face Recognition System</title>
    </head>
    <body>

        <img src={{ url_for('get_file', filename='logo') }} style="width: 200px; height: auto;">
        {% if logged_in %}

            <div class="dropdown" style="float: right;">
                <button class="btn btn-primary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Hi {{ operator_id }}!!
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <!--<a href={{ url_for('change_password') }} class="btn btn-secondary active" style="float: right;" role="button" aria-pressed="true" >Change Password</a>-->
                    <!--<a href={{ url_for('logout') }} class="btn btn-primary active" style="float: right;" role="button" aria-pressed="true" >Logout</a>-->
                    <a href={{ url_for('change_password') }} class="dropdown-item">Change Password</a>
                    <div class="dropdown-divider"></div>
                    <a href={{ url_for('logout') }} class="dropdown-item">Logout</a>
                </div>
            </div>
            <a href={{ url_for('go_home') }} role="button" aria-pressed="true" style="float: right;">
                <img src={{ url_for('get_file', filename='home') }} style='width: 50px; height: auto;'>
            </a>
        {% endif %}
        <div>Face Recognition System</div>
        <br> <br>
        {% for message in get_flashed_messages() %}
        <div class='alert alert-warning text-center'>
            <button type='button' class='close' data-dismiss='alert'>&times;</button>
            {{message}}
        </div>
        {% endfor %}
        {% block content %}{% endblock %}

    </body>
</html>