{% extends "layout.html" %}
    {% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <form action={{ url_for('show_alerts') }} method='post' name='formalerts' onclick=''>
                    <table class="table table-hover">
                        <tr>
                            <td colspan="2" class="text-center" style="font-size: x-large;">Show Alerts</td> 
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center">
                                From <input type='date' name='startdate' value={{ start_date }} max={{ end_date }}>
                                -To <input type='date' name='enddate' value={{ end_date }} max={{ end_date }}>
                            </td>
                        </tr>
                        <tr>
                            <td><button type="reset" class="btn btn-secondary btn-lg btn-block active">Reset</button></td>
                            <td><button type="submit" name="showalerts" class="btn btn-primary btn-lg btn-block active">Show Alerts</button></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>

    {% endblock %}