{% extends "layout.html" %}
    {% block content %}

    {% if is_admin %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <form action={{ url_for('show_logs') }} method='post' name='formlogsearch' onclick=''>
                    <table class="table table-hover">
                        <tr>
                            <td colspan="2" class="text-center" style="font-size: x-large;">Show Logs</td> 
                        </tr>
                        <tr>
                            <td>Registration Id</td>
                            <td><input type='text' name='lrid'></td>
                        </tr>
                        <tr>
                            <td>User Name</td>
                            <td><input type='text' name='lrname'></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                From <input type='date' name='startdate' value={{ start_date }} max={{ end_date }}>
                                -To <input type='date' name='enddate' value={{ end_date }} max={{ end_date }}>
                            </td>
                        </tr>
                        <tr>
                            <td>Select Location</td>
                            <td>
                                <select name="location">
                                    {% for loc in camera_list %}
                                        {% if loc[1] == 'ALL' %}
                                            <option value={{ loc[0] }} selected>{{ loc[1] }}</option>
                                        {% else %}
                                            <option value={{ loc[0] }}>{{ loc[1] }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <!-- <tr>
                            <td>Recognition Mode</td>
                            <td>
                                <select name="recog_mode">
                                    <option value='all' selected>ALL</option>
                                    <option value='offline'>FROM VIDEO</option>
                                    <option value='online'>LIVE</option>
                                </select>
                            </td>
                        </tr> -->
                        <tr>
                            <td><button type="reset" class="btn btn-secondary btn-lg btn-block active">Reset</button></td>
                            <td><button type="submit" name="showlogs" class="btn btn-primary btn-lg btn-block active">Show Logs</button></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
    {% endif %}

    {% endblock %}